module {{ operator }}4
    (
        input  a,
        input  b,
        input  c,
        input  d,
        output z
    );

   assign z =  {% if negate == True %}~({% endif %}a {{ symbol }} b {{ symbol }} c {{ symbol }} d{% if negate == True %}){% endif %};

endmodule