# Generated verilog files
src/boolean_algebra/*4.v
src/boolean_algebra/*3.v
src/boolean_algebra/maj_**_bit.v
src/addition/parallel_counter_**_bit.v
src/addition/wallace_popcount_**_bit.v
src/addition/adder_tree_**.v
src/mathematics/square_lut_*_bit.v

# Binaries from compiling tests
tb.dSYM
*.o

# Yosys generated test files
*_test.cpp
*.v.cpp

# Yosys scripts
*.ys

# Output plots
*.dot
*.ps
*.svg

# Output files
*.vcd

# Editors
.vscode

# iverilog
*.iv

# QuestaSim
work

# macOS
.DS_Store
