module {{ operator }}{{ size }}
    (
        input  a,
        input  b,
        input  c,
        {% if size == 4 %}d,{% endif %}
        output z
    );

   assign z = {% if negate == True %}~({% endif %}a {{ symbol }} b {{ symbol }} c{% if size == 4 %} {{ symbol }} d{% endif %}{% if negate == True %}){% endif %};

endmodule