module adder_tree_{% if signed %}signed_{% endif %}{{n_inputs}}_inputs{% if extra_out_bits != 0 %}_po{% endif %}
    #(parameter WIDTH = 8)
    (
        input{% if signed %} signed {% endif %}[WIDTH-1:0] in [{{n_inputs}}-1:0],
        output{% if signed %} signed {% endif %}[WIDTH+{{extra_out_bits}}-1:0] out
    );
{{ adder_tree_str }}
endmodule

